* {
    box-sizing: border-box;
}

body {
    background: #4285F4;
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 20px;
}

.form-inner {
    padding: 50px;
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #4285F4;
    border-bottom: 4px solid #2e518f;
    color: white;
    font-size: 14px;
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

/*---------------------------------------------*/

.to_home_text {
    color: #4b4f53;
    font-weight: 700;
    font-size: 17px;
    padding-left: 5px;
}

.to_home_text:hover {
    text-decoration: underline;
}

.to_home_icon {
    width: 25px;
}

.to_home_link {
    display: inline-flex;
    text-decoration: none;
}